:root{
    --laranja: #fda40a;
    --branco: rgb(248, 249, 254);
    --cinza: #f0f2f5;
    --laranja-escuro: #e4940a;
}

@font-face {
    font-family: 'bosk';
    src: url('/assets/fonts/bosk.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'realadult';
    src: url('/assets/fonts/aka-acidgr-realadult.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('/assets/fonts/hk-grotesk-bold.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'open';
    src: url('/assets/fonts/Open.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

}

body{
    scroll-snap-type: y mandatory;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--branco);
}

li{
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
}

input{
    border: 0;
    outline: none;
}

button{
    cursor: pointer;
}

.noSelect {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

#main{
    width: 100%;
    height: 100%;
}

#message{
    height: 4rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: -100%;
    padding: 0.2rem;
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    font-family: 'grotesk';
    font-size: 1rem;
    color: #fff;
}

#header-title-principal{
    height: 5rem;
    background-color: var(--cinza);
}

.no-decoration{
    text-decoration: none;
    text-decoration-line: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-center{
    margin: 0 auto 0 auto;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-left{
    justify-content: left;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.fullscreen{
    width: 100%;
    height: 100%;
}

.fullwidth{
    width: 100%;
}

.absolute{
    position: absolute;
}

.select-option{
    transform: scale(1.4) translateY(-0.1rem);
}

.div-produto .div-produto-informacoes{
    width: auto;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
}

.div-produto .div-produto-informacoes .div-produto-descricao{
    font-family: 'grotesk';
    justify-content: left;
    text-align: left;
    font-size: 0.5rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao h2{
    font-size: 1.2rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao p{
    font-size: 0.7rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao::-webkit-scrollbar{
    display: none;
}

.div-produto .div-produto-informacoes .div-produto-botao input{
    width: 15%;
    padding: 0.3rem
}

.div-produto-botao{
    padding-top: 10px;
    
}

.div-produto .div-produto-informacoes .div-produto-botao button{
    border: none;
    color: #fff;
    background-color: #000;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.div-produto .div-produto-informacoes .div-produto-botao button ion-icon{
    width: 70%;
    height: 70%;
}

.number-max{
    width: 2rem;
    height: 2rem;
    background-color: rgb(213, 123, 85);
    right: 0;
    top: 0;
    position: absolute;
    color: #f0f2f5;
    font-weight: 600;
    transform: translate(35%, -35%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'open';
    border-radius: 50%;
    font-size: 0.7rem;
}

/* Tela home */

#section-home{
    max-height: 100vh;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#section-home::-webkit-scrollbar{
    display: none;
}

#section-home #header-home{
    height: 5rem;
    background-color: #fff;
    padding-top: 1rem;
}

#section-home #header-home h1{
    font-family: 'realadult';
    font-size: 4.5rem;
    font-weight: 400;
}

#section-home #header-home img{
    transform: rotateZ(12deg) translateY(-0.8rem) scale(0.9);
    filter:brightness(0.1);
    margin: 1rem 1rem 0rem 1rem;
    cursor: default;
}

#section-cardapio{
    min-height: 100%;
}

#section-cardapio #section-categorias{
    height: auto;
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    justify-content: left;
    margin: 1rem auto 1rem auto;
    overflow-y: hidden;
}

#section-cardapio #section-categorias::-webkit-scrollbar{
    display: none;
}

#section-cardapio #section-categorias .categoria{
    height: 100vh;
    max-height: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    background-color: rgba(254, 254, 254, 1);
    margin: 0 1rem 0 0;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: hidden;
}

#section-cardapio #section-categorias .categoria:hover{
    transform: scale(1.01);
}

#section-cardapio #section-categorias .categoria a{
    height: 100%;
    width: 100%;
    border: none;
    background-color: #fff;
    cursor:pointer
}

#section-cardapio #section-categorias .categoria a .span-categoria{
    font-size: 0.9rem;
    font-family: 'grotesk', 'Times New Roman', Times, serif;
    align-items: center;
    position: relative;
    color: #000;
    width: 100%;
    padding: 3px;
}

#section-cardapio #section-categorias .categoria a .categoria-foto{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: relative;
    overflow: hidden;
}

#section-produtos{
    height: auto;
    padding: 10px;
}

#section-produtos .div-produto{
    padding: 0.3rem;
    height: auto;
    width: 100%;
    max-width: 30rem;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    border-radius: 0.2rem;
    display: flex;
    transition: 0.1s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#section-produtos .div-produto:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
}

#section-produtos .div-produto:last-child{
    margin-bottom: 5rem;
}

#section-produtos .div-produto .foto-produto{
    background-color: rgba(254, 254, 254, 1);
    width: 50%;
    max-width: 8rem;
    min-width: 8rem;
    height: auto;
}

/* User */

#section-user{
    max-height: 100vh;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#section-user header{
    background-color: #fff;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#section-user header h1{
    font-family: 'grotesk';
}

#section-user section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

#section-user section div{
    width: 100%;
    max-width: 30rem;
    height:4rem;
    margin: 0.7rem 0 0 0;
    font-size: 2.5rem;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

#section-user section div:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#section-user section div a{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    background: none;
}

#section-user section div a ion-icon{
    color: #000;
    font-size: 2rem;
}

#section-user section div a span{
    font-size: 1.3rem;
    font-family: 'grotesk';
    margin-left: 1rem;
    font-weight: 300;
    color: #000;
}

#section-user section div:last-child{
    width: auto;
    color: #fff;
    background-color: #610200;
    transition: 0.2s;
    padding: 0 1rem 0 1rem;
}

#section-user section div:last-child:hover{
    background-color: rgba(146,0,1,1);
}

#section-user section div:last-child span,
#section-user section div:last-child ion-icon{
    color: #fff;
}

/* footer */

#footer-sidebar{
    background-color: #fff;
    position: absolute;
    width: 100%;
    max-width: 24rem;
    border-radius: 0.6rem 0.6rem 0 0 ;
    height: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-sidebar button{
   border: none;
   height: 100%;
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: none;
}

#footer-sidebar button:nth-child(2){
    background-color: #000;
    box-shadow: 0px 4px 15px rgba(37, 37, 37, 0.5);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    transform: translateY(-30%);
    color: #fff;
}
#footer-sidebar button:nth-child(2) a ion-icon{
    color: #fff;
}

#footer-sidebar button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#footer-sidebar button a ion-icon{
    width:55%;
    height: 55%;
}

