:root{
    --laranja: #fda40a;
    --branco: rgb(248, 249, 254);
    --cinza: #f0f2f5;
    --laranja-escuro: #e4940a;
}

@font-face {
    font-family: 'bosk';
    src: url('/assets/fonts/bosk.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'realadult';
    src: url('/assets/fonts/aka-acidgr-realadult.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('/assets/fonts/hk-grotesk-bold.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-snap-type: y mandatory;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--branco);
}

li{
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
}

input{
    border: 0;
    outline: none;
}

button{
    cursor: pointer;
}

.noSelect {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

#main{
    width: 100%;
    height: 100%;
}

#header-title-principal{
    height: 5rem;
    background-color: var(--cinza);
}

.no-decoration{
    text-decoration: none;
    text-decoration-line: none;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.fullscreen{
    width: 100%;
    height: 100%;
}

.fullwidth{
    width: 100%;
}

.absolute{
    position: absolute;
}