:root{
    --laranja: #fda40a;
    --branco: rgb(248, 249, 254);
    --cinza: #f0f2f5;
    --laranja-escuro: #e4940a;
}

@font-face {
    font-family: 'bosk';
    src: url('/assets/fonts/bosk.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'realadult';
    src: url('/assets/fonts/aka-acidgr-realadult.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('/assets/fonts/hk-grotesk-bold.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'open';
    src: url('/assets/fonts/Open.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

}

body{
    scroll-snap-type: y mandatory;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--branco);
}

li{
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
}

input{
    border: 0;
    outline: none;
}

button{
    cursor: pointer;
}

.noSelect {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

#main{
    width: 100%;
    height: 100%;
}

#message{
    height: 4rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: -100%;
    padding: 0.2rem;
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    font-family: 'grotesk';
    font-size: 1rem;
    color: #fff;
}

#header-title-principal{
    height: 5rem;
    background-color: var(--cinza);
}

.no-decoration{
    text-decoration: none;
    text-decoration-line: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-center{
    margin: 0 auto 0 auto;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-left{
    justify-content: left;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.fullscreen{
    width: 100%;
    height: 100%;
}

.fullwidth{
    width: 100%;
}

.absolute{
    position: absolute;
}

.select-option{
    transform: scale(1.4) translateY(-0.1rem);
}

.div-produto .div-produto-informacoes{
    width: auto;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
}

.div-produto .div-produto-informacoes .div-produto-descricao{
    font-family: 'grotesk';
    justify-content: left;
    text-align: left;
    font-size: 0.5rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao h2{
    font-size: 1.2rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao p{
    font-size: 0.7rem;
}

.div-produto .div-produto-informacoes .div-produto-descricao::-webkit-scrollbar{
    display: none;
}

.div-produto .div-produto-informacoes .div-produto-botao input{
    width: 15%;
    padding: 0.3rem
}

.div-produto-botao{
    padding-top: 10px;
    
}

.div-produto .div-produto-informacoes .div-produto-botao button{
    border: none;
    color: #fff;
    background-color: #000;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.div-produto .div-produto-informacoes .div-produto-botao button ion-icon{
    width: 70%;
    height: 70%;
}

.number-max{
    width: 2rem;
    height: 2rem;
    background-color: rgb(113, 38, 5);
    right: 0;
    top: 0;
    position: absolute;
    color: #f0f2f5;
    font-weight: 600;
    transform: translate(35%, -35%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'open';
    border-radius: 50%;
    font-size: 0.7rem;
}

#footer-sidebar{
    background-color: #fff;
    position: absolute;
    width: 100%;
    max-width: 24rem;
    border-radius: 0.6rem 0.6rem 0 0 ;
    height: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-sidebar button{
   border: none;
   height: 100%;
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: none;
}

#footer-sidebar button:nth-child(2){
    background-color: #000;
    box-shadow: 0px 4px 15px rgba(37, 37, 37, 0.5);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    transform: translateY(-30%);
    color: #fff;
}
#footer-sidebar button:nth-child(2) a ion-icon{
    color: #fff;
}

#footer-sidebar button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#footer-sidebar button a ion-icon{
    width:55%;
    height: 55%;
}

